doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Accueil - Bienvenue sur NIGER FOOT
    meta(name='description', content='Nigerfoot est un site de pronostics gratuit')
    meta(name='keywords', content='Niger, niger, digital, niger digital, pronostics, football, foot, cm18, coupe du monde, 2018')
    meta(name='NIGER DIGITAL', content='hencework')
    // Favicon
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    // Owl CSS
    link(href='/vendors/bower_components/owl.carousel/dist/assets/owl.carousel.min.css', rel='stylesheet', type='text/css')
    link(href='/vendors/bower_components/owl.carousel/dist/assets/owl.theme.default.min.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='/stylesheets/custom.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='/dist/css/style.css', rel='stylesheet', type='text/css')
  body
    // Preloader
    .preloader-it
      .la-anim-1
    // /Preloader
    .wrapper.theme-1-active.pimary-color-red
      // Main Content
      .container-fluid(style='')
        .imgbox
          #countdown
            h3 Coupe du Monde RUSSIE 2018
            #clockdiv
              div
                span.days
                .smalltext Jours
              div
                span.hours
                .smalltext Heures
              div
                span.minutes
                .smalltext Minutes
              div
                span.seconds
                .smalltext Secondes
          picture
            source(media='(max-width: 414px)', srcset='img/login-background-mobile.jpg')
            source(media='(min-width: 414px)', srcset='img/login-background.jpg')
            img.center-fit(src='img/login-background.jpg', alt='')
          // <img class='center-fit' src="img/login-background.jpg" alt="">
        button.btn.right_or_bottom
          span 
            a(class='txt-light' href='login') Connexion
        button.btn.left_or_top
          span 
            a(class='txt-light' href='register') Nouveau
      // Footer
      footer.footer.container-fluid.pl-30.pr-30
          .row
            .col-sm-12
              p(class='txt-light') 2018 © NIGER FOOT. By 
                span
                  a(href='http://nigerdigital.fr')
                    span(style='color:#d5a627') NIGER 
                    span(style='color:#4caf6l9') DIGITAL 
                  | Talents  
        // /Footer
      // /Main Content

    // JavaScript
    // jQuery
    script(src='/vendors/bower_components/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js')
    // Owl JavaScript
    script(src='/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js')
    // Owl Init JavaScript
    script(src='/dist/js/owl-data.js')
    // SlimscroJavaScript
    script(src='/dist/js/jquery.slimscroll.js')
    // Fancy Dropdown JS
    script(src='/dist/js/dropdown-bootstrap-extended.js')
    // Switchery JavaScript
    script(src='/vendors/bower_components/switchery/dist/switchery.min.js')
    // Init JavaScript
    script(src='/dist/js/init.js')
    script.
      $(document).ready(function () {
      function getTimeRemaining(endtime) {
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor((t / 1000) % 60);
      var minutes = Math.floor((t / 1000 / 60) % 60);
      var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
      var days = Math.floor(t / (1000 * 60 * 60 * 24));
      return {
      'total': t,
      'days': days,
      'hours': hours,
      'minutes': minutes,
      'seconds': seconds
      };
      }
      function initializeClock(id, endtime) {
      var clock = document.getElementById(id);
      var daysSpan = clock.querySelector('.days');
      var hoursSpan = clock.querySelector('.hours');
      var minutesSpan = clock.querySelector('.minutes');
      var secondsSpan = clock.querySelector('.seconds');
      function updateClock() {
      var t = getTimeRemaining(endtime);
      daysSpan.innerHTML = t.days;
      hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
      minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
      secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
      if (t.total <= 0) {
      clearInterval(timeinterval);
      }
      }
      updateClock();
      var timeinterval = setInterval(updateClock, 1000);
      }
      var deadline = 'June 14 2018 15:59:59 GMT+0100';
      initializeClock('clockdiv', deadline);
      });

