extends layout

block content
  .container
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      p Vous êtes connecté en tant que #{user.username}
      a(href="/logout") Logout
