doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Hound I Fast build Admin dashboard for any platform
    meta(name='description', content='Hound is a Dashboard & Admin Site Responsive Template by hencework.')
    meta(name='keywords', content='admin, admin dashboard, admin template, cms, crm, Hound Admin, Houndadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application')
    meta(name='author', content='hencework')
    // Favicon
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    // Owl CSS
    link(href='/vendors/bower_components/owl.carousel/dist/assets/owl.carousel.min.css', rel='stylesheet', type='text/css')
    link(href='/vendors/bower_components/owl.carousel/dist/assets/owl.theme.default.min.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='/stylesheets/custom.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='/dist/css/style.css', rel='stylesheet', type='text/css')
  body
    // Preloader
    .preloader-it
      .la-anim-1
    // /Preloader
    .wrapper.theme-4-active.pimary-color-red
      
      .page-wrapper.pb-0.pt-0.pl-0.pr-0.ml-0
        .container-fluid
          // Title
          // /Title
          .row
            .col-lg-12
              .panel.panel-default.card-view
                .panel-wrapper.collapse.in
                  .panel-body
                    .col-md-12
                      div
                        #owl_demo_1.owl-carousel.owl-theme
                          .item(style='height:100%; overflow:auto; width:auto; ')
                            picture
                              source(media='(max-width: 414px)', srcset='/img/login-background-mobile.jpg')
                              source(media='(min-width: 414px)', srcset='/img/login-background.jpg')
                              img(src='/img/login-background.jpg', alt='terrain de foot')
                              //img(src='/img/login-background.jpg' alt='Owl Image' class='autorotation')
                            button.autorotation_r.img-responsive
                              a(href='login')(style='color: gold') LOGIN
                            button.autorotation_l.img-responsive
                              a(href='register')(style='color: gold') REGISTER
                      // Footer
                      footer.footer.container-fluid.pl-30.pr-30
                        .row
                          .col-sm-12
                            p 2017 © Hound. Pampered by Hencework
        // /Footer
      // /Main Content
    // /#wrapper
    // JavaScript
    // jQuery
    script(src='/vendors/bower_components/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js')
    // Owl JavaScript
    script(src='/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js')
    // Owl Init JavaScript
    script(src='/dist/js/owl-data.js')
    // SlimscroJavaScript
    script(src='/dist/js/jquery.slimscroll.js')
    // Fancy Dropdown JS
    script(src='/dist/js/dropdown-bootstrap-extended.js')
    // Switchery JavaScript
    script(src='/vendors/bower_components/switchery/dist/switchery.min.js')
    // Init JavaScript
    script(src='/dist/js/init.js')
