extends layout

block content
    .wrapper.pa-0
      header.sp-header
        .sp-logo-wrap.pull-left
          a(href='/')
            img.brand-img.mr-10(src='/img/logo-nigerfoot.png', width='100px', height='40px', alt='brand')
            span.brand-text NIGER FOOT
        .form-group.mb-0.pull-right
          span.inline-block.pr-10 Vous n'êtes pas encore inscrit?
          a.inline-block.btn.btn-success.btn-rounded.btn-outline(href='register') Créer un compte
        .clearfix
      // Main Content
      .page-wrapper.pa-0.ma-0.auth-page
        .container-fluid
          // Row
          .table-struct.full-width.full-height
            .table-cell.vertical-align-middle.auth-form-wrap
              .auth-form.ml-auto.mr-auto.no-float
                .row
                  .col-sm-12.col-xs-12
                    .mb-30.mt-50
                      h3.text-center.txt-dark.mb-10 Identification
                      h6.text-center.nonecase-font.txt-grey Remplir les champs ci-dessous
                      if errors
                        each error in errors
                          div.alert.alert-danger #{error.msg}
                    .form-wrap
                      form(method='POST' action='')
                        .form-group
                          label.control-label.mb-10(for='') Pseudo
                          input#exampleInputEmail_2.form-control(type='text', required='true', name='userpseudo' placeholder='Pseudo')
                        .form-group
                          label.pull-left.control-label.mb-10(for='') Mot de passe
                          a.capitalize-font.txt-primary.block.mb-10.pull-right.font-12(href='forgotpassword') Mot de Passe oublié ?
                          .clearfix
                          input#exampleInputpwd_2.form-control(type='password', required='true', name='userpassword' placeholder='Votre mot de passe')
                        .form-group
                          .checkbox.checkbox-primary.pr-10.pull-left
                            input#checkbox_2(type='checkbox')
                            label(for='')  Se souvenir de moi
                          .clearfix
                        .form-group.text-center
                          button.btn.btn-success.btn-rounded(type='submit') Valider
      // /Row
  // /Main Content
// /#wrapper