<<<<<<< HEAD
doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Mot de passe oublié
    meta(name='description', content='Nigerfoot est un site de pronostics gratuit')
    meta(name='keywords', content='Niger, niger, digital, niger digital, pronostics, football, foot, cm18, coupe du monde, 2018')
    meta(name='NIGER DIGITAL', content='hencework')
    // Favicon
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    // Morris Charts CSS
    link(href='/vendors/bower_components/morris.js/morris.css', rel='stylesheet', type='text/css')
    // vector map CSS
    link(href='/vendors/vectormap/jquery-jvectormap-2.0.2.css', rel='stylesheet', type='text/css')
    // Calendar CSS
    link(href='/vendors/bower_components/fullcalendar/dist/fullcalendar.css', rel='stylesheet', type='text/css')
    // Data table CSS
    link(href='/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='/dist/css/style.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='/dist/css/custom.css', rel='stylesheet', type='text/css')
  body
    // Preloader
    .preloader-it
      .la-anim-1
    // /Preloader
    .wrapper.pa-0
      // Main Content
      .page-wrapper.pa-0.ma-0.auth-page
        .container-fluid
          if(user)
              // Row
              .table-struct.full-width.full-height
                .table-cell.vertical-align-middle.auth-form-wrap
                  .auth-form.ml-auto.mr-auto.no-float
                    .row
                      .col-sm-12.col-xs-12
                        .sp-logo-wrap.text-center.pa-0.mb-30
                          a(href='index')
                            img.brand-img.mr-10(src='/img/logo-nigerfoot.png', width='100px', height='40px', alt='brand')
                            span.brand-text NIGER FOOT
                        .mb-30
                          h4.text-center.txt-dark.mb-10 Votre mot de passe est perdu?
                          h6.text-center.txt-grey.nonecase-font Veuillez saisir votre nouveau mot de passe .
                        .form-wrap
                          form(method='POST' action='/newpassword/#{user._id}')
                            .form-group
                              label.pull-left.control-label.mb-10(for='') Nouveau Mot de passe
                              input#exampleInputpwd_2.form-control(type='password', required='', name='userpassword' placeholder='Votre mot de passe')
                            .form-group
                              label.pull-left.control-label.mb-10(for='') Confirmer Votre Nouveau mot de passe
                              input#exampleInputpwd_3.form-control(type='password', required='', name='userpasswordverif' placeholder='Votre mot de passe')
                            .form-group.text-center
                              button.btn.btn-info.btn-rounded(type='submit') Valider le nouveau mot de passe
    // /Row
    // /Main Content
    // /#wrapper
    // JavaScript
    // jQuery
    script(src='/vendors/bower_components/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js')
    // Slimscroll JavaScript
    script(src='/dist/js/jquery.slimscroll.js')
    // Init JavaScript
    script(src='/dist/js/init.js')
=======
doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Mot de passe oublié
    meta(name='description', content='Nigerfoot est un site de pronostics gratuit')
    meta(name='keywords', content='Niger, niger, digital, niger digital, pronostics, football, foot, cm18, coupe du monde, 2018')
    meta(name='NIGER DIGITAL', content='hencework')
    // Favicon
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    // Morris Charts CSS
    link(href='/vendors/bower_components/morris.js/morris.css', rel='stylesheet', type='text/css')
    // vector map CSS
    link(href='/vendors/vectormap/jquery-jvectormap-2.0.2.css', rel='stylesheet', type='text/css')
    // Calendar CSS
    link(href='/vendors/bower_components/fullcalendar/dist/fullcalendar.css', rel='stylesheet', type='text/css')
    // Data table CSS
    link(href='/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='/dist/css/style.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='/dist/css/custom.css', rel='stylesheet', type='text/css')
  body
    // Preloader
    .preloader-it
      .la-anim-1
    // /Preloader
    .wrapper.pa-0
      // Main Content
      .page-wrapper.pa-0.ma-0.auth-page
        .container-fluid
          if(user)
              // Row
              .table-struct.full-width.full-height
                .table-cell.vertical-align-middle.auth-form-wrap
                  .auth-form.ml-auto.mr-auto.no-float
                    .row
                      .col-sm-12.col-xs-12
                        .sp-logo-wrap.text-center.pa-0.mb-30
                          a(href='index')
                            img.brand-img.mr-10(src='/img/logo-nigerfoot.png', width='100px', height='40px', alt='brand')
                            span.brand-text NIGER FOOT
                        .mb-30
                          h4.text-center.txt-dark.mb-10 Votre mot de passe est perdu?
                          h6.text-center.txt-grey.nonecase-font Veuillez saisir votre nouveau mot de passe .
                        .form-wrap
                          form(method='POST' action='/newpassword/#{user._id}')
                            .form-group
                              label.pull-left.control-label.mb-10(for='') Nouveau Mot de passe
                              input#exampleInputpwd_2.form-control(type='password', required='', name='userpassword' placeholder='Votre mot de passe')
                            .form-group
                              label.pull-left.control-label.mb-10(for='') Confirmer Votre Nouveau mot de passe
                              input#exampleInputpwd_3.form-control(type='password', required='', name='userpasswordverif' placeholder='Votre mot de passe')
                            .form-group.text-center
                              button.btn.btn-info.btn-rounded(type='submit') Valider le nouveau mot de passe
    // /Row
    // /Main Content
    // /#wrapper
    // JavaScript
    // jQuery
    script(src='/vendors/bower_components/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js')
    // Slimscroll JavaScript
    script(src='/dist/js/jquery.slimscroll.js')
    // Init JavaScript
    script(src='/dist/js/init.js')
>>>>>>> f58f6240db6c0608ecfc6abf65399674ea7c200f
