doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Mon Profil
    meta(name='description', content='Nigerfoot est un site de pronostics gratuit')
    meta(name='keywords', content='Niger, niger, digital, niger digital, pronostics, football, foot, cm18, coupe du monde, 2018')
    meta(name='NIGER DIGITAL', content='hencework')
    // Favicon
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    // Morris Charts CSS
    link(href='/vendors/bower_components/morris.js/morris.css', rel='stylesheet', type='text/css')
    // vector map CSS
    link(href='/vendors/vectormap/jquery-jvectormap-2.0.2.css', rel='stylesheet', type='text/css')
    // Calendar CSS
    link(href='/vendors/bower_components/fullcalendar/dist/fullcalendar.css', rel='stylesheet', type='text/css')
    // Data table CSS
    link(href='/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='/dist/css/style.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='/dist/css/custom.css', rel='stylesheet', type='text/css')
  body
    // Preloader
    .preloader-it
      .la-anim-1
    // /Preloader
    .wrapper.theme-1-active.pimary-color-red
      // Top Menu Items
      nav.navbar.navbar-inverse.navbar-fixed-top
        .pull-left.mt-10.ml-50
          a(href='/')
            img.brand-img(src='/dist/img/logo.png', alt='brand')
            span.brand-text NIGER FOOT
        .pull-right.mt-10
          button.btn.btn-success Valider mes pronostics
          a.button.btn.btn-warning.ml-50(href='/logout') Déconnexion
      // Main Content
      .page-wrapper
        .container-fluid.pt-25
          if(user)
              // Row
              .row
                .col-lg-3.col-md-3.col-xs-12
                  .panel.panel-default.card-view.pa-0
                    .panel-wrapper.collapse.in
                      .panel-body.pa-0
                        .profile-box
                          .profile-cover-pic
                            .profile-image-overlay
                          .profile-info.text-center
                            .profile-img-wrap
                              img.inline-block.mb-10(src='/dist/img/mock1.jpg', alt='user')
                              .fileupload.btn.btn-default
                                span.btn-text edit
                                input.upload(type='file')
                            h5.block.mt-10.mb-5.weight-500.capitalize-font.txt-danger #{user.username}
                            h6.block.pb-20.text-lowercase @#{user.userpseudo}
                          .social-info
                            .row
                              .col-xs-12.text-center
                                span.counts.block.head-font
                                  span.counter-anim 345
                                span.counts-text.block Classement Général
                              .col-xs-12.text-center
                                span.counts.block.head-font
                                  span.counter-anim 246
                                span.counts-text.block Classement Groupe 1
                              .col-xs-12.text-center
                                span.counts.block.head-font
                                  span.counter-anim 898
                                span.counts-text.block Classement Groupe 2
                            button.btn.btn-default.btn-block.btn-outline.btn-anim.mt-30(data-toggle='modal', data-target='#myModal')
                              i.fa.fa-pencil
                              span.btn-text edit profile
                            #myModal.modal.fade.in(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                              .modal-dialog
                                .modal-content
                                  .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                                    h5#myModalLabel.modal-title Edit Profile
                                  .modal-body
                                    // Row
                                    .row
                                      .col-lg-12
                                        div
                                          .panel-wrapper.collapse.in
                                            .panel-body.pa-0
                                              .col-sm-12.col-xs-12
                                                .form-wrap
                                                  form(action='#')
                                                    .form-body.overflow-hide
                                                      .form-group
                                                        label.control-label.mb-10(for='exampleInputuname_1') Name
                                                        .input-group
                                                          .input-group-addon
                                                            i.icon-user
                                                          input#exampleInputuname_1.form-control(type='text', placeholder='willard bryant')
                                                      .form-group
                                                        label.control-label.mb-10(for='exampleInputEmail_1') Email address
                                                        .input-group
                                                          .input-group-addon
                                                            i.icon-envelope-open
                                                          input#exampleInputEmail_1.form-control(type='email', placeholder='xyz@gmail.com')
                                                      .form-group
                                                        label.control-label.mb-10(for='exampleInputContact_1') Contact number
                                                        .input-group
                                                          .input-group-addon
                                                            i.icon-phone
                                                          input#exampleInputContact_1.form-control(type='email', placeholder='+102 9388333')
                                                      .form-group
                                                        label.control-label.mb-10(for='exampleInputpwd_1') Password
                                                        .input-group
                                                          .input-group-addon
                                                            i.icon-lock
                                                          input#exampleInputpwd_1.form-control(type='password', placeholder='Enter pwd', value='password')
                                                      .form-group
                                                        label.control-label.mb-10 Gender
                                                        div
                                                          .radio
                                                            input#radio_1(type='radio', name='radio1', value='option1', checked='')
                                                            label(for='radio_1')
                                                              | M
                                                          .radio
                                                            input#radio_2(type='radio', name='radio1', value='option2')
                                                            label(for='radio_2')
                                                              | F
                                                      .form-group
                                                        label.control-label.mb-10 Country
                                                        select.form-control(data-placeholder='Choose a Category', tabindex='1')
                                                          option(value='Category 1') USA
                                                          option(value='Category 2') Austrailia
                                                          option(value='Category 3') India
                                                          option(value='Category 4') UK
                                                    .form-actions.mt-10
                                                      button.btn.btn-success.mr-10.mb-30(type='submit') Update profile
                                  .modal-footer
                                    button.btn.btn-success.waves-effect(type='button', data-dismiss='modal') Save
                                    button.btn.btn-default.waves-effect(type='button', data-dismiss='modal') Cancel
                                // /.modal-content
                              // /.modal-dialog
                .col-lg-9.col-md-9.col-xs-12
                  .panel.panel-default.card-view.pa-0
                    .panel-wrapper.collapse.in
                      .panel-body.pb-0
                        .tab-struct.custom-tab-1
                          ul#myTabs_8.nav.nav-tabs.nav-tabs-responsive(role='tablist')
                            li.active(role='presentation')
                              a#profile_tab_8(data-toggle='tab', role='tab', href='#profile_8', aria-expanded='false')
                                span Pronostics
                            li.next(role='presentation')
                              a#follo_tab_8(aria-expanded='true', data-toggle='tab', role='tab', href='#follo_8')
                                span
                                  | Classement Général
                                  // <span class="inline-block">(246)</span>
                            li(role='presentation')
                              a#photos_tab_8(data-toggle='tab', role='tab', href='#photos_8', aria-expanded='false')
                                span Règles
                            li(role='presentation')
                              a#earning_tab_8(data-toggle='tab', role='tab', href='#earnings_8', aria-expanded='false')
                                span Groupe(s)
                            li(role='presentation')
                              a#settings_tab_8(data-toggle='tab', role='tab', href='#settings_8', aria-expanded='false')
                                span Résultats
                            li.dropdown(role='presentation')
                              a#myTabDrop_7.dropdown-toggle(data-toggle='dropdown', href='#', aria-expanded='false')
                                span More
                                span.caret
                              ul#myTabDrop_7_contents.dropdown-menu
                                li
                                  a#dropdown_13_tab(data-toggle='tab', role='tab', href='#dropdown_13', aria-expanded='true') About
                                li
                                  a#dropdown_14_tab(data-toggle='tab', role='tab', href='#dropdown_14', aria-expanded='false') Followings
                                li
                                  a#dropdown_15_tab(data-toggle='tab', role='tab', href='#dropdown_15', aria-expanded='false') Likes
                                li
                                  a#dropdown_16_tab(data-toggle='tab', role='tab', href='#dropdown_16', aria-expanded='false') Reviews
                          #myTabContent_8.tab-content
                            #profile_8.tab-pane.fade.active.in(role='tabpanel')
                              .col-md-12
                                .pt-20
                                  .streamline.user-activity
                                    .sl-item
                                      .col-md-12.col-sm-12.pt-20.pl-0.pr-0(style='    display: -webkit-inline-box;\
                                      ')
                                        table.datedumatch.mb-10.ml-15
                                          thead
                                            tr(style=' border-bottom:solid 5px')
                                              th 14 JUIN 2018
                                              th
                                              th.pl-50 Pronostic
                                          tbody
                                            tr
                                              td.pr-50
                                                label(for='')
                                                  p 18:00
                                                  p Groupe A
                                              td
                                                label(for='')
                                                  img.flag-size(src='/dist/img/country/01-flag.png', ;='', alt='')
                                                  h3.team-name RÉPUBLIQUE DE CORÉE
                                                  input.input-team-score(type='Number', value='0', disabled='')
                                              td.pl-50.pr-50(style='vertical-align: middle;')
                                                label(for='')
                                                  input.input-team-score(type='Tel', min='0', max='15', maxlength='2')
                                            tr
                                              td.pr-50
                                                label(for='')
                                                  p Stade Loujniki
                                                  p Moscou
                                              td
                                                label(for='')
                                                  img.flag-size(src='/dist/img/country/02-flag.png', ;='', alt='')
                                                  h3.team-name ALLEMAGNE
                                                  input.input-team-score(type='Number', value='0', disabled='')
                                              td.pl-50.pr-50(style='vertical-align: middle;')
                                                label(for='')
                                                  input.input-team-score(type='Tel', min='0', max='15', maxlength='2')
                                      //
                                        <a href="javascript:void(0)">
                                        <div class="sl-avatar avatar avatar-sm avatar-circle">
                                        <img class="img-responsive img-circle" src="dist/img/user.png" alt="avatar"/>
                                        </div>
                                        <div class="sl-content">
                                        <p class="inline-block"><span class="capitalize-font txt-success mr-5 weight-500">Clay Masse</span><span>invited to join the meeting in the conference room at 9.45 am</span></p>
                                        <span class="block txt-grey font-12 capitalize-font">3 Min</span>
                                        </div>
                                        </a>
                            #follo_8.tab-pane.fade(role='tabpanel')
                              .row
                                .col-lg-12
                                  .followers-wrap
                                    ul.followers-list-wrap
                                      li.follow-list
                                        .follo-body
                                          .follo-data
                                            #rang.pull-left.pl-30.pr-30
                                              h4 #1
                                            img.user-img.img-circle(src='/dist/img/user.png', alt='user')
                                            .user-data
                                              span.name.block.capitalize-font Clay Masse
                                              // <span class="time block truncate txt-grey">No one saves us but ourselves.</span>
                                            .pull-right.mr-15
                                              span 2500
                                              span  Points
                                            // <button class="btn btn-success pull-right btn-xs fixed-btn">Follow</button>
                                            .clearfix
                            #photos_8.tab-pane.fade(role='tabpanel')
                              .col-md-12.pb-20
                                .gallery-wrap
                                  .portfolio-wrap.project-gallery
                                    ul#portfolio_1.portf.auto-construct.project-gallery(data-col='4')
                                      li.item(data-src='/dist/img/gallery/equal-size/mock1.jpg', data-sub-html='<h6>Bagwati</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>')
                                        a(href='')
                                          img.img-responsive(src='/dist/img/gallery/equal-size/mock1.jpg', alt='Image description')
                                          span.hover-cap Bagwati
                                      li.item(data-src='dist/img/gallery/equal-size/mock2.jpg', data-sub-html='<h6>Not a Keyboard</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>')
                                        a(href='')
                                          img.img-responsive(src='/dist/img/gallery/equal-size/mock2.jpg', alt='Image description')
                                          span.hover-cap Not a Keyboard
                                      li.item(data-src='dist/img/gallery/equal-size/mock3.jpg', data-sub-html='<h6>Into the Woods</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>')
                                        a(href='')
                                          img.img-responsive(src='/dist/img/gallery/equal-size/mock3.jpg', alt='Image description')
                                          span.hover-cap Into the Woods
                                      li.item(data-src='dist/img/gallery/equal-size/mock4.jpg', data-sub-html='<h6>Ultra Saffire</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>')
                                        a(href='')
                                          img.img-responsive(src='/dist/img/gallery/equal-size/mock4.jpg', alt='Image description')
                                          span.hover-cap  Ultra Saffire
                                      li.item(data-src='dist/img/gallery/equal-size/mock5.jpg', data-sub-html='<h6>Happy Puppy</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>')
                                        a(href='')
                                          img.img-responsive(src='/dist/img/gallery/equal-size/mock5.jpg', alt='Image description')
                                          span.hover-cap Happy Puppy
                                      li.item(data-src='dist/img/gallery/equal-size/mock6.jpg', data-sub-html='<h6>Wooden Closet</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>')
                                        a(href='')
                                          img.img-responsive(src='/dist/img/gallery/equal-size/mock6.jpg', alt='Image description')
                                          span.hover-cap Wooden Closet
                                      li.item(data-src='dist/img/gallery/equal-size/mock7.jpg', data-sub-html='<h6>Happy Puppy</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>')
                                        a(href='')
                                          img.img-responsive(src='/dist/img/gallery/equal-size/mock7.jpg', alt='Image description')
                                          span.hover-cap Happy Puppy
                                      li.item(data-src='dist/img/gallery/equal-size/mock8.jpg', data-sub-html='<h6>Wooden Closet</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>')
                                        a(href='')
                                          img.img-responsive(src='/dist/img/gallery/equal-size/mock8.jpg', alt='Image description')
                                          span.hover-cap Wooden Closet
                            #earnings_8.tab-pane.fade(role='tabpanel')
                              // Row
                              .row
                                .col-lg-12
                                  .row
                                    .col-lg-12
                                      .followers-wrap
                                        .row.pb-10.pl-30
                                          p(style=' border-bottom:solid 5px') Groupe FENIFOOT
                                        ul.followers-list-wrap
                                          li.follow-list
                                            .follo-body
                                              .follo-data
                                                #rang.pull-left.pl-30.pr-30
                                                  h4 #1
                                                img.user-img.img-circle(src='/dist/img/user.png', alt='user')
                                                .user-data
                                                  span.name.block.capitalize-font Clay Masse
                                                  // <span class="time block truncate txt-grey">No one saves us but ourselves.</span>
                                                .pull-right.mr-15
                                                  span 2500
                                                  span  Points
                                                // <button class="btn btn-success pull-right btn-xs fixed-btn">Follow</button>
                                                .clearfix
                            #settings_8.tab-pane.fade(role='tabpanel')
                              // Row
                              .row
                                .col-lg-12
                                  div
                                    .panel-wrapper.collapse.in
                                      .panel-body.pa-0
                                        .col-sm-12.col-xs-12
                                          .form-wrap
                                            form(action='#')
                                              .form-body.overflow-hide
                                                .form-group
                                                  label.control-label.mb-10(for='exampleInputuname_01') Name
                                                  .input-group
                                                    .input-group-addon
                                                      i.icon-user
                                                    input#exampleInputuname_01.form-control(type='text', placeholder='willard bryant')
                                                .form-group
                                                  label.control-label.mb-10(for='exampleInputEmail_01') Email address
                                                  .input-group
                                                    .input-group-addon
                                                      i.icon-envelope-open
                                                    input#exampleInputEmail_01.form-control(type='email', placeholder='xyz@gmail.com')
                                                .form-group
                                                  label.control-label.mb-10(for='exampleInputContact_01') Contact number
                                                  .input-group
                                                    .input-group-addon
                                                      i.icon-phone
                                                    input#exampleInputContact_01.form-control(type='email', placeholder='+102 9388333')
                                                .form-group
                                                  label.control-label.mb-10(for='exampleInputpwd_01') Password
                                                  .input-group
                                                    .input-group-addon
                                                      i.icon-lock
                                                    input#exampleInputpwd_01.form-control(type='password', placeholder='Enter pwd', value='password')
                                                .form-group
                                                  label.control-label.mb-10 Gender
                                                  div
                                                    .radio
                                                      input#radio_01(type='radio', name='radio1', value='option1', checked='')
                                                      label(for='radio_01')
                                                        | M
                                                    .radio
                                                      input#radio_02(type='radio', name='radio1', value='option2')
                                                      label(for='radio_02')
                                                        | F
                                                .form-group
                                                  label.control-label.mb-10 Country
                                                  select.form-control(data-placeholder='Choose a Category', tabindex='1')
                                                    option(value='Category 1') USA
                                                    option(value='Category 2') Austrailia
                                                    option(value='Category 3') India
                                                    option(value='Category 4') UK
                                              .form-actions.mt-10
                                                button.btn.btn-success.mr-10.mb-30(type='submit') Update profile
          // /Row
        // Footer
        footer.footer.container-fluid.pl-30.pr-30
          .row
            .col-sm-12
              p 2017 © NIGER FOOT. By NIGER DIGITAL Talents
        // /Footer
      // /Main Content
    // /#wrapper
    // JavaScript
    // jQuery
    script(src='/vendors/bower_components/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js')
    // Vector Maps JavaScript
    script(src='/vendors/vectormap/jquery-jvectormap-2.0.2.min.js')
    script(src='/vendors/vectormap/jquery-jvectormap-world-mill-en.js')
    script(src='/dist/js/vectormap-data.js')
    // Calender JavaScripts
    script(src='/vendors/bower_components/moment/min/moment.min.js')
    script(src='/vendors/jquery-ui.min.js')
    script(src='/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js')
    script(src='/dist/js/fullcalendar-data.js')
    // Counter Animation JavaScript
    script(src='/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js')
    script(src='/vendors/bower_components/jquery.counterup/jquery.counterup.min.js')
    // Data table JavaScript
    script(src='/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js')
    // Slimscroll JavaScript
    script(src='/dist/js/jquery.slimscroll.js')
    // Fancy Dropdown JS
    script(src='/dist/js/dropdown-bootstrap-extended.js')
    // Sparkline JavaScript
    script(src='/vendors/jquery.sparkline/dist/jquery.sparkline.min.js')
    script(src='/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js')
    script(src='/dist/js/skills-counter-data.js')
    // Morris Charts JavaScript
    script(src='/vendors/bower_components/raphael/raphael.min.js')
    script(src='/vendors/bower_components/morris.js/morris.min.js')
    script(src='/dist/js/morris-data.js')
    // Owl JavaScript
    script(src='/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js')
    // Switchery JavaScript
    script(src='/vendors/bower_components/switchery/dist/switchery.min.js')
    // Data table JavaScript
    script(src='/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js')
    // Gallery JavaScript
    script(src='/dist/js/isotope.js')
    script(src='/dist/js/lightgallery-all.js')
    script(src='/dist/js/froogaloop2.min.js')
    script(src='/dist/js/gallery-data.js')
    // Spectragram JavaScript
    script(src='/dist/js/spectragram.min.js')
    // Init JavaScript
    script(src='/dist/js/init.js')
    script(src='/dist/js/widgets-data.js')
