extends layout

block content
    .wrapper.pa-0
      header.sp-header
        .sp-logo-wrap.pull-left
          a(href='/')
            img.brand-img.mr-10(src='/img/logo-nigerfoot.png', width='100px', height='40px', alt='brand')
            span.brand-text NIGER FOOT
        .form-group.mb-0.pull-right
          span.inline-block.pr-10 Vous avez déjà un compte?
          a.inline-block.btn.btn-success.btn-rounded.btn-outline(href='login') Se connecter
        .clearfix
      // Main Content
      .page-wrapper.pa-0.ma-0.auth-page
        .container-fluid
          // Row
          .table-struct.full-width.full-height
            .table-cell.vertical-align-middle.auth-form-wrap
              .auth-form.ml-auto.mr-auto.no-float
                .row
                  .col-sm-12.col-xs-12
                    .mb-30
                      h3.text-center.txt-dark.mb-10 Créer un compte
                      h6.text-center.nonecase-font.txt-grey Remplir les champs ci-dessous
                      if errors
                        each error in errors
                          div.alert.alert-danger #{error.msg}
                    .form-wrap
                      form(method='POST' action='')
                        .form-group
                          label.control-label.mb-10(for='') Prénom & Nom
                          input.form-control(type='text', required='true', name='username', placeholder='Nom et Prénom' value=(undefined===user ? '' : user.username))
                        .form-group
                          label.control-label.mb-10(for='') Téléphone
                          input.form-control(type='tel', required='true', name='userphone', minlength='8' maxlength='8', placeholder='8 chiffres Ex: 85 90 89 93' value=(undefined===user ? '' : user.userphone))
                        .form-group
                          label.control-label.mb-10(for='') Pseudo
                          input#noSpacesField.form-control(type='text', required='true', name='userpseudo' placeholder='pseudo' value=(undefined===user ? '' : user.userpseudo))
                        .form-group
                          label.control-label.mb-10(for='') Email
                          input#exemail.form-control(type='email', required='', name='useremail' placeholder='exemple@xyz.com' value=(undefined===user ? '' : user.usermail))
                        .form-group
                          label.pull-left.control-label.mb-10(for='') Mot de passe
                          input#exampleInputpwd_2.form-control(type='password', required='', name='userpassword' placeholder='Votre mot de passe')
                        .form-group
                          label.pull-left.control-label.mb-10(for='') Confirmer Votre mot de passe
                          input#exampleInputpwd_3.form-control(type='password', required='', name='userpasswordverif' placeholder='Votre mot de passe')
                        .form-group
                          .checkbox.checkbox-primary.pr-10.pull-left
                            input#checkbox_2(required='true', type='checkbox')
                            label(for='')
                              | J'accepte les 
                              span.txt-primary Termes et Conditions 
                              | de NIGER FOOT
                          .clearfix
                        .form-group.text-center
                          button.btn.btn-success.btn-rounded(type='submit') Valider
    script(src='https://code.jquery.com/jquery-1.8.3.min.js', integrity='sha256-YcbK69I5IXQftf/mYD8WY0/KmEDCv1asggHpJk1trM8=', crossorigin='anonymous')                      
    script(type='text/javascript').
      $('#noSpacesField').bind('input', function(){
        $(this).val(function(_, v){
         return v.replace(/\s+/g, '').toLowerCase();
        });
      });
      